:root {
    --default-green: #23D962;
}

@font-face {
    font-family: "CircularStd";
    src: url("../fonts/CircularStd-Medium.otf") format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'CircularStd', Times, serif;
}

/* Navbar */
#navbar {
    display: flex;
    background-color: rgb(0, 0, 0);
    color: white;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
}

#navbar .navbar-container {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 17px 0;
}

#navbar .navbar-container .logo {
    height: 30px;
    width: auto;
}

#navbar .navbar-container ul {
    display: flex;
    list-style: none;
}

#navbar .navbar-container ul li {
    padding: 0 20px;
    transition: all 300ms ease;
    font-size: 12px;
}

#navbar .navbar-container ul li:hover {
    color: var(--default-green);
    cursor: pointer;
}

#navbar .navbar-container ul li:nth-child(3) {
    border-right: 1px solid white;
}

/* Showcase */
#showcase {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: url('../img/background.png') center center/cover;
    width: 100%;
}

#showcase .showcase-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#showcase .showcase-container h2 {
    font-size: clamp(4rem, 8vw, 7rem);    
    color: var(--default-green);
    display: flex;
}

#showcase .showcase-container p {
    margin: 15px 0;
    font-size: 0.9rem;
    color: var(--default-green);
}

#showcase .showcase-container button {
    background: var(--default-green);
    color: rgb(41, 65, 171);
    padding: 13px 30px;
    border: none;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer; 
    transition: all 300ms ease;
    font-size: 10px;
}

#showcase .showcase-container button:hover {
    background: #3ce276;
    cursor: pointer;
}

/* Footer */
#footer {
    background: black;
    color: white;
    padding: 80px 0;
}

#footer .footer-content {
    display: flex;
    width: 60%;
    margin: auto;
    justify-content: space-between;
}

#footer .footer-content .logo {
    height: 33px;
    width: auto;
}

#footer .footer-content .footer-menu {
    margin: 0 60px;
    list-style: none;
}

#footer .footer-content .footer-menu .footer-menu-item {
    margin: 25px 0;
    transition: all 300ms ease;
    font-size: 12px;
}

#footer .footer-content .footer-menu .footer-menu-item:hover {
    color: var(--default-green);
    cursor: pointer;
}
#footer .footer-content .footer-menu p {
    font-weight: bold;
    text-transform: uppercase;
    color: #919496;
    font-size: 0.7rem;
}

/* Footer Socials */
.socials {
    display: flex;
}

.socials i {
    display: flex;
    margin: 0 20px;
    font-size: 1.7rem;
    background: #1c1c1d;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.socials i:hover {
    color: var(--default-green);
    cursor: pointer;
    transition: all 300ms ease;
}

/* Footer Info */
.footer-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 60%;
    margin: auto;
    color: #919496;
    font-size: 0.75rem;
    padding-top: 50px;
}

.footer-info .footer-info-items {
    display: flex;
    list-style: none;
}

.footer-info .footer-info-items .footer-info-item {
    margin: 0 10px;
    transition: all 300ms ease;
    font-size: 10px;
}

.footer-info .footer-info-items .footer-info-item:hover {
    color: var(--default-green);
    cursor: pointer;
}

.footer-info .rights .country {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    align-items: center;
}

.footer-info .rights  p {
    font-size: 10px;
}

.footer-info .rights .country p {
    transition: all 300ms ease;
    font-size: 10px;
}

.footer-info .rights .country p:hover {
    color: var(--default-green);
    cursor:pointer;
}

.footer-info .rights .country  .brazil-flag {
    height: 20px;
    width: auto;
    display: inline-block;
    margin-left: 10px;
}